

.header_container{
    
    display: flex;
    justify-content: space-between;

}

.bank_title{
    margin-top: 10px;
    font-family:monospace;
}


.ul_list{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 15px;
    margin-right: 25px;
    display: flex;
    gap: 40px;
    
}



.link{
    color: aqua;
    text-decoration: none;
}



